/*General Tag Rules*/
body {
	background-color: #000000;
	font-family:"Courier New";
}
a {
	color: #a52bff;
	text-decoration: none;
}
img {
	margin-right: -4.8px;
	margin-left: -4.8px;
	margin-bottom: -4px;
}
h1 {
	position: relative;
	color: #7c24ba;
	text-align: center;
	font-size: 2.6em;
}
h2 {
	color: #31ba63;
	text-align:left;
	padding-left: 5%;
	padding-right: 15%;
	font-size: 2.2em;
}
h3 {
	color: #1b8077;
	text-align: left;
	padding-left: 10%;
	padding-right: 15%;
	font-size: 1.3em;
}
h4 {
	color: #cfcfcf;
	text-align: left;
	padding-left: 10%;
	padding-right: 15%;
	font-size: 1.1em;
}
p {
	color: #ffffff;
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 0.95em;
}

/*
Classes
*/
.center-container { /*Centers the content of a larger group*/
	display: flex;
	justify-content: center;
}
.image-con { /*Container for images, standalone or to contain other content*/
	position: relative;
	background-repeat: no-repeat;
}
.con { /*Class to contain multiple columns*/
	position: relative;
	display: flex;
	align-items: center;
}
.con-left {
	position: relative;
	width: 40%;
	left: 4%;
}
.con-mid {
	position: relative;
	width: 40%;
	align-self: flex-end;
}
.con-right {
	position: relative;
	width: 40%;
	right: 4%;
}
.text-box{
	background-color: #3d3d3ddd;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 0.2%;
	padding-bottom: 0.2%;
	max-width: 67%;
}
/*
Specialized Classes
*/
.side-bar { /*Side bar that scrolls along with the user*/
	position: fixed;
	color: #ffffff;
	background-color: #5F5F5F;
	max-width: 18%;
	padding-left: 0.1%;
	padding-right: 0.1%;
}
.banner { /*Specific class for the top banner image*/
	position: relative;
	background-image: url(Images/Banner_Image.jpg);
	background-repeat: repeat;
	max-height: 20%;
	width: 100%;
}
.tower { /*Class for the tower*/
	position: relative;
	top: 10%;
}
