<!DOCTYPE html>
<html>
<head>
	<!--CSS File-->
	<link rel="stylesheet" href="../css/General_Style.css">
	<!--Link to the website icon-->
	<link rel="icon" href="../images/CAW.ico">
	<title>My Projects</title>
</head>
<body style="background-image: url(../images/Projects_Background.png)">
<!--Links to the other areas of the website-->
	<div class="banner" align="center">
		</br></br></br>
		<h1>
		<a href="../index.html">Entrance</a>&thinsp;
		<a href="../pages/Apartment.html">Apartment</a>&thinsp;
		<a href="../sitemap.html">Sitemap</a>
		</h1>
	</div>

	<h1>Games | Music | Writing</h1>

	<a href="Writing.html">Writing</a>&thinsp;
	<a href="Music.html">Music</a>&thinsp;
	<a href="Games.html">Games</a>&thinsp;
	<a href="Ukagaka.html">Ukagaka</a>&thinsp;


	<!--Should include images and as much information about them as possible-->
	<img src="../Images/engieconstruction_by_Zarla_Sheenaza.gif">	


	<p style="background-color: #3d3d3ddd;">
	A list of projects I've worked on, go ahead and look through as you please.
	Most of them are writings, with things too large to fit being hosted elsewhere. However, I have
	linked to them, or at least the ones I remembered.
	</p>


	<h1 style="background-color: #3d3d3ddd;"><a href="../sitemap.html">Sitemap</a></h1>
</body>
</html>
