/*High Level Rules*/
body {
	background-color: #000000;
	font-family:"Courier New";
}
a {
	color: #a52bff;
	text-decoration: none;
}
img {
	margin-right: -4.8px;
	margin-left: -4.8px;
	margin-bottom: -4px;
}
h1 {
	position: relative;
	color: #a52bff;
	text-align: center;
	font-size: 2.6em;
}
h2 {
	color: #31ba63;
	text-align:left;
	padding-left: 5%;
	padding-right: 25%;
	font-size: 2.2em;
}
h3 {
	color: #197C37;
	text-align: left;
	padding-left: 10%;
	padding-right: 25%;
	font-size: 1.3em;
}
h4 {
	color: #cfcfcf;
	text-align: left;
	padding-left: 10%;
	padding-right: 25%;
	font-size: 1.2em;
}
p {
	color: #ffffff;
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 1.2em;
}

/*Classes*/
.text-box {
	position: relative;
	background-color: #3d3d3ddd;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 80%;
	padding-top: 0.2%;
	padding-bottom: 0.5%;
}
.text-with-wrapping{
	max-width: 50%;
}
.image-con {
	position: relative;
	background-repeat: no-repeat;
}
.side-bar {
	position: absolute;
	color: #ffffff;
	background-color: #5F5F5F;
	max-width: 35%;
	padding-left: 0.1%;
	padding-right: 0.1%;
}
.banner {
	position: relative;
	background-image: url(../Images/Banner_Image.jpg);
	background-repeat: repeat;
	max-height: 20%;
	width: 100%;
}
.tower {
	position: relative;
	top: 10%;
}
